<h1>Archive: <%# @path %></h1>
<ul class="archives">
  <% for entry in data.blog.articles %>
    <li>
      <span><%= entry.date.strftime('%Y-%m-%d') %></span>
      <a href="<%= entry.url %>"><%= entry.title %></a>
    </li>
  <% end %>
</ul>

