@import "_bootstrap-1.4.0";

$blue: adjust-lightness(#4869D6, -10);
$black: adjust-lightness($blue, -40);
$grey:  scale-lightness(black, 50);
$darkblue: #0F4DA8;
$espresso: #1e140b;

header#banner {
    font-size: 150%;
    border-bottom: medium solid $darkblue;
    padding-top: 0.3em;
    margin-bottom: 0.25em;
    h1 {
        line-height: 0.75em;
        font-size: 3.5em;
    }
    h2 {
        font-family: 'Comfortaa', cursive;
        color: $grey;
    }
}

a {
    color: $blue;
}

.content p {
    color: $espresso;
    font-size: 1.1em;
}

ul.index li:not(:last-child) {
    margin-bottom: 1em;
}

time {
    font-family: 'Comfortaa', cursive;
    color: $grey;
}

ul.index li {
    margin-left: -1em;
    list-style: none;
    a.title {
        margin-right: 0.3em;
        font-size: 2em;
    }
}

.content ul li {
    font-size: 1.1em;
}

a:hover {
    text-decoration: none;
}

footer {
    border-top: thin solid $darkblue;
    padding-top: 0.5em;
    font-family: 'Comfortaa', cursive;
    color: $grey;
}

article {
    margin-left: 1em;
    font-size: 1.2em;
}
article header {
    margin-bottom: 0.5em;
    h1 {
        display: inline;
        color: adjust-lightness($espresso, -5);
        margin-top: 0;
        margin-right: 0.3em;
        font-size: 2.4em;
    }
}

code {
    background: #f5f5f5;
    padding: 0.2em 0;
}

.poetry {
    pre {
        font-size: 0.9em;
        font-family: 'Comfortaa', cursive;
        background: none;
        border: none;
        margin-left: 2em;
        margin-bottom: -0.75em;
    }
    small {
        margin-left: 1.75em;
        font-size: 0.8em;
        color: #bfbfbf;
    }
    small:before {
        content: '\2014 \00A0';
    }

}