<footer>
  <div class="row">
    <p class="span4 offset4">
      Copyright 2012 - 2013.
      <%= mail_to 'brian@troutwine.us', 'Email me.' %>
      Twitter: <a href="https://twitter.com/#!/bltroutwine">@bltroutwine</a>
    </p>
  </div>
</footer>

<%= google_analytics_tag %>