<header id="banner">
  <div class="row">
    <h1 class="span6"><a href="/">Brian L. Troutwine</a></h1>
    <h2 class="span4 offset2">Source code conversationalist, occasional pedant:
      a fairly okay fellow.  <%= link_to image_tag('feed.png'), '/feed.xml' %>
    </h2>
  </div>
</header>
