<header id="banner">
  <div class="row">
    <h1 class="span11"><a href="/">Brian L. Troutwine</a></h1>
    <h2 class="span1"><%= link_to image_tag('feed.png'), '/feed.xml' %></h2>
  </div>
</header>
